/* CountDown */

.countdown{
    width: 45%;
    margin:0 auto;
}

.countdown .head,.countdown .body .timer-item{
    background-color: #343434
}

.head{
    display: flex;
    /*padding: 0.5rem 0.5rem 0.1rem;*/
}

.countdown .head .head-text{
    color: rgba(243,245,235,255);
    padding:0.5rem 0 0 0.25rem
}

.countdown .head button{
    background-color: #02fecd;
    color: #28675c;
    border-radius: 0.35rem;
    padding: 0.35rem 0.5rem;
    margin: 0.25rem;
}

.countdown .head .head-control{
    margin-left: auto;
}

.countdown .body{
    background-color: #161616;
    padding-bottom: 7rem;
}

.body-text{
    text-align: center;
    padding:2rem
}

.body-timer{
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;

}

.timer-item{
    padding: 0 1rem;
}

.countdown .body div{
    color: #efe6e0;
}

.single-text{
    color: #04fed4;
}

.single-number{
    color: #fdf5e1
}

/* StopWatch */

.stopwatch{
    width: 35%;
    margin: 0 auto;
    text-align: center;
    background-color: #0e4d92;
    padding-bottom: 2rem;
    border-radius: 0.5rem;
}

.stopwatch .header{
    font-size:2rem;
    color :#e5eff7;
    padding:0.5rem;
}

.stopwatch .watch .watch-timer{
    font-size: 2rem;
    padding: 2rem;
}

.watch{
    background-color: white;
    padding-bottom: 1rem;
}

.watch .control{
    display: flex;
    justify-content: center
}

.watch .control button{
    border-radius: 0.35rem;
    border: 2px solid #8c8cff;
    background-color: #ffffff!important;
    color: #7574ff;
    padding: 0.35rem 0.5rem;
}
